@import url('./home.css');
@import url('./gameover.css');
@import url('./score.css');

body {
    margin: 0;
    overflow: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    /* display: none; */
}
